html {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
}

.banner {
  padding: 16em;
  background-image: url("../images/starfield.png");
}

.banner-content {
  text-shadow: 2px 1px 20px rgba(255, 255, 255, .7);
  color: #fff;
}

.btn {
  color: #b4fff4;

}

.btn-ghost {
  border-radius: 8px;
}

.btn:hover .btn:focus {
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
}

.btn:active {
  top: 1em;
  transform: translate(0, .25em);
}

.btn .icon {
  transition: 25s ease;
}
