html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
}

.banner {
  background-image: url("../images/starfield.png");
}

.banner-content {
  text-shadow: 2px 1px 20px rgba(255, 255, 255, .7);
  color: #fff;
}

.btn {
  border: 3px solid #90ccc3;
}

.btn:hover
.btn:focus {
  background-color: #b4fff4;
  color: #000;
  text-shadow: rgba(180, 255, 244, .2);
}

.btn:active {
  top: 1em;
  transform: translate(0, .25em);
}
