html {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #fff;
}

.banner {
  background-image: url("../images/starfield.png");
}

.btn .btn-ghost {
  border-radius: 3px solid #90ccc3;
  color: #fff;
}
